# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
.venv/

# Environment vars
.env

# Django stuff
*.log
logs/
log/
*.bat
bat/
media/
staticfiles/

# VS Code / PyCharm
.idea/
.vscode/

# OS
.DS_Store
