{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{% if object %}Edit Team User{% else %}Add Team User{% endif %}{% endblock %}

{% block content %}


<div class="container mt-4">

  <h1 class="h4 mb-3">
    {% if object %}Edit Team User{% else %}Add User{% endif %}
  </h1>

  <div class="card shadow-sm">
    <div class="card-body">
      <form method="post" class="row g-3">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="col-md-4">
          <label class="form-label">Username</label>
          {{ form.username|add_class:"form-control" }}
        </div>

<!--        <div class="col-md-4">-->
<!--          <label class="form-label">First name</label>-->
<!--          {{ form.first_name|add_class:"form-control" }}-->
<!--        </div>-->

<!--        <div class="col-md-4">-->
<!--          <label class="form-label">Last name</label>-->
<!--          {{ form.last_name|add_class:"form-control" }}-->
<!--        </div>-->

        <div class="col-md-4">
          <label class="form-label">Subdepartment</label>
          {{ form.subdepartment|add_class:"form-select" }}
        </div>

        <div class="col-md-2">
          <label class="form-label">Active</label><br>
          {{ form.is_active }}
        </div>

        <div class="col-12 mt-3">
          <a href="{% url 'planners:user_list' %}" class="btn btn-secondary btn-sm">Cancel</a>
          <button type="submit" class="btn btn-primary btn-sm">
            {% if object %}Save changes{% else %}Create User{% endif %}
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
{% endblock %}
